#canvas-wrapper-div, #canvas-div {
    width: 100%;
    height: 100%;
}

/* parent-level div for canvas route */
#canvas-wrapper-div {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

/* removes orange outline from react-sketch canvas */
#canvas-div div:focus-visible {
    outline: none !important;
}

/* bottom area of canvas */
#canvas-toolbar {
    z-index: 10; /* always sits above images */
    bottom: 10px;
    width: 50%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.canvas-button {
    flex-grow: 1;
    display: flex;
    text-align: center;
    margin: 0 4px;
    max-width: 300px;
}

/* class name from react-sketch for disabled canvas */
.disabled-canvas {
    pointer-events: none;
    cursor: default;
}

img.selected {
    box-shadow: 0 0 5px 5px #aef4af;
}

/* image on canvas */
.modifiable-image {
    z-index: 7;
}

.modifiable-image.selected {
    z-index: 8;
}

.modifiable-image.selected.dragging {
    z-index: 9;
}