#canvas-wrapper-div, #canvas-div {
    width: 100%;
    height: 100%;
}

.disabled-canvas {
    pointer-events: none;
    cursor: default;
}

.modifiable-image {
    z-index: 7;
}

.selected {
    box-shadow: 0 0 5px 5px #aef4af;
    z-index: 8;
    /* border: 5px solid #aef4af; */
}

.selected.dragging {
    z-index: 9;
}