.figure-drawing-display-panel-container {
    width: 50% !important;
}

.figure-drawing-display-panel-body {
    padding: 20px 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

.figure-drawing-display-panel-row {
    width: 90%;
    flex-grow: 1;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}