@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* push down height/weight + centering to individual views */ 
.cached-view-container, 
.view-container {
    width: 100%; 
    height: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.cached-view-container p {
    font-family: 'Quicksand', sans-serif;
    color: #003333; 
    font-size: 20px;
}

.view-container {
    padding: 100px 0;
}

.view-header {
    color: #FFFFFF !important;
    font-size: 48px !important;
}

.vertically-centered {
    /* for vertical centering: https://stackoverflow.com/a/28424339 */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.accordion-container .MuiAccordion-root {
    width: 45%;
}

.accordion-container .Mui-expanded {
    margin: 10px auto;
}

.accordion-container .MuiSwitch-root {
    left: 85%;
    position: absolute;
    transform: translateY(-10%);
}   